body {
  background-color: #7C444F;
}

h1, h2, h3 {
  color: #E16A54;
  background-color: #9F5255;
}

span {
  color: #E16A54;
}

/* input id */
#list2 {
  color: black;
}


/* classs */
.mark {
  background-color: rgb(47, 255, 245);
}

section>p {
  font-size: 16px;
  color: rebeccapurple;
}

section>P:hover {
  color: greenyellow;
}

button:hover {
  background-color: rgb(237, 65, 65);
  width: 50Px;
  height: 25px;
}