.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-nav a {
  text-decoration: none;
  color: black;
  margin: 5px;
}

.button-nav>a:hover {
  color: rebeccapurple;
  background-color: bisque;
  transition-delay: 0.5s;
  border-radius: 5px;
}